@charset "UTF-8";

@font-face{
    font-family: 'beauty';
    src: url(fontes/Angelia\ Beauty.ttf) format(truetype);
}

@keyframes brilho {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

*{
    margin: 0px;
    padding: 0px;
    
}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url('imagens/ChatGPT\ Image\ 17_02_2026\,\ 21_50_11.png');
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main#background {
    width: 90vw;
    height: 95vh;
    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 10px;
}

.coracoes{
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 0px 10px rgb(238, 148, 163);
    animation: brilho 2s infinite alternate;
}

/* Pagina 2 */

header{
    display: flex;
}

header.pagina2  h1 {
    font-family: 'beauty', cursive;
    font-size: 4.5em;
    flex: auto;
    text-shadow:
        0 0 5px #ff4fd8,
        0 0 15px #7E3CA3,
        0 0 30px #32268d;
        
}

div#grid-inicio {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 680px;
    place-items: center center;
    place-content: space-evenly center;
    margin-bottom: 20px;
}

section.sectionimg-pagina2 {
    display: flex;
    width: 350px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    flex: auto;
}

div.imagensamor2{
    display: flex;
    background-color: rgba(255, 255, 255, 0.76);
    width: 130px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 30px;
}

div#img1{
    align-self: flex-start;
    transform: rotate(6deg);
    
}

div#img2 {
    align-self: flex-start;
    transform: rotate(-6deg);
}

div.imagensamor2 img{
    margin-top: 10px;
}

section.sectiontext-pagina2 {
    display: block;
    position: relative;
    max-width: 400px;
    background-color: #f3a7fc8e;
    flex: auto;

    box-shadow: 
        0 0 20px rgba(243, 141, 243, 0.815),
        0 0 40px rgba(250, 96, 250, 0.76),
        0 0 60px rgba(245, 42, 167, 0.76);
    border: 1px solid rgba(255, 255, 255, 0.486);
    
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
}

section.sectiontext-pagina2::before {
    content: "";
    position: absolute;
    
    inset: 7px;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.452), rgba(255, 255, 255, 0.308), rgba(255, 255, 255, 0));
    filter: blur(5px);
    z-index: -1;
    border-radius: 30px;
}

section.sectiontext-pagina2 > h2 {
    font-family: 'beauty', cursive;
    font-size: 2.2em;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1.5px;
    color: #a6228a;
    text-align: center;
}

section.sectiontext-pagina2 > p {
    color: rgb(29, 29, 29);
    width: 90%;
    text-align: justify;
    margin: auto;
}

/* Pagina 3 */

