@charset "UTF-8";

@font-face{
    font-family: 'beauty';
    src: url(fontes/Angelia\ Beauty.ttf) format(truetype);
}

@keyframes brilho {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-image: url('imagens/ChatGPT\ Image\ 17_02_2026\,\ 21_50_11.png');
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    font-family: 'beauty', cursive;
    color: white;
    text-align: center;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

#nosso{
    font-size: 6em;
    margin-top: 40px;
    text-shadow:
        0 0 5px #ff4fd8,
        0 0 15px #7E3CA3,
        0 0 30px #32268d;
}

#universo{
    font-size: 10em;
     text-shadow:
        0 0 5px #ff4fd8,
        0 0 15px #7E3CA3,
        0 0 30px #32268d;
}

#p1 {
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #7c4fc9 ;
}

#coracoes{
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 0px 10px rgb(238, 148, 163);
    animation: brilho 2s infinite alternate;
}

#explorar {
    margin-top: 60px;
    width: 200px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    font-weight: bolder;
    background-image: linear-gradient(to left, #4C2974, #7E3CA3, #6841AA, #4131b9, #4a40b8);
    border: 2px solid white;
    box-shadow: 0px 0px 15px rgb(238, 148, 163);
}

